* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: white;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #1b1b1b;
}

p,
li {
    font-family: "Poppins", sans-serif;
}
