* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #1b1b1b;
    color: white;
}

p,
li {
    font-family: "Poppins", sans-serif;
    color: white;
}

a {
    color: white;
}

small {
    // color: white;
    opacity: 0.4;
    font-size: 0.8em;
}

@for $i from 1 through 30 {
    ol[start="#{$i}"] {
        counter-reset: li ($i - 1);
    }
}
